body{
    height: 100vh;
    margin: 0;
    background-image: url(media/visuals/white-brick-wall-textured.avif);    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 700px;
    border: 14px solid #534940;
    background-image: url(media/visuals/old-paper.jpeg);
    background-size: cover;
    background-position: center; 
    box-sizing: border-box;
    box-shadow: 9px 5px 11px 3px #00000085;
}


.head-futures > p {
    display: inline;
    cursor: pointer;
    color: #0000a7;
    font-size: .8rem;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1{
        font-family: 'Stick No Bills', sans-serif;
        letter-spacing: 10px;
        font-size: 2.5rem;
        color: #331c00;
        text-align: center;
        border-bottom: 4px black solid;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

.score-container{
    width: 100%;
    border-bottom: 4px solid #2c1900;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    padding-bottom: 10px;
}

.stats-container > * {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    p {
        font-size: 1.2rem;
        padding: 0 10px;
    }
}

p.level-name {
    font-family: 'Stick No Bills', monospace;
    letter-spacing: 4px;
}

.live-data {
    border: 2px solid black;
    max-width: 140px;
    min-width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.small-title {
    font-size: .8rem;
}

.live-data > p {
    font-weight: 600;
    font-family: 'Stick No Bills';
    letter-spacing: 3px;    
}

.smile {
    grid-area: 1/2/3/3;
    font-size: 3.2rem;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

.smile:active {
    text-shadow: -2px -2px 2px black;
}

.stats {
    display: flex;
    gap: 50px;
}

h2{
    margin-bottom: 4px;
    margin-top: 0;
}

.game-container{
    margin-top: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 7px solid #1f1200;
    box-shadow: 9px 9px 9px #eebb7c31;
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
}

td{
    width: 3vh;
    height: 3vh;
    text-align: center;
    transition: all 400ms;
    cursor: pointer;
    border: 2px solid;
    transition: rotate 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.flagged {
    rotate: 350deg;
}

.open{
    background-color: #bf720070;

    div{
        background-image: url(media/visuals/green-sticker.webp);
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* https://codepen.io/stoumann/pen/MWeNmyb */
.has-1-neighbors{
    display: block;
    /* filter: brightness(0.8) saturate(150%) hue-rotate(120deg); */
}

.has-2-neighbors{
    filter: brightness(0.8) saturate(150%) hue-rotate(240deg);
}

.has-3-neighbors{
    filter: brightness(1.6) invert(0.94) contrast(1.6) grayscale(0.05) hue-rotate(245deg);
}

.has-4-neighbors{
    filter: brightness(1.6) invert(0.25) contrast(1.9) grayscale(0.05) hue-rotate(245deg);
}

.has-5-neighbors{
    filter: brightness(1.6) invert(0.94) contrast(1.6) grayscale(0.05) hue-rotate(11deg);
}

.has-6-neighbors, .has-7-neighbors, .has-8-neighbors{
    filter: brightness(1.2) invert(0.98) contrast(1.6) hue-rotate(333deg);
}

.good{
    background-color:#ecdcc9;
    color: white;
}


button {
    margin: 5px;
    height: 30px;
    grid-area: 3;
    border: 2px solid #a72a2a;
    box-shadow: 2px 2px 3px 0px black;
    background-color: #8e2a06;
    font-size: 16px;
    color: antiquewhite;
    text-transform: capitalize;
    cursor: pointer;
    transition: border 400ms;
}

button:active{
    box-shadow: inset 2px 2px 3px 0px black;
}

.btn-container{
    grid-area: 3/1/3/3;
    display: flex;
    justify-content: center;
}

dialog {
    border-radius: 6px;
    height: 30vh;
    background-image: url(media/visuals/old-paper.jpeg);
    backdrop-filter: brightness(0.5) hue-rotate(220deg) contrast(10%);
    background-position: bottom;
    border: 4px solid #4b4239;

    .dialog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

button.exit {
    align-self: self-end;
    background-color: darkslategray;
    border: none;
    transition: all 500ms;
}

h3 {
    margin-top: 0;
    color: #2e1900
}

h4 {
    margin: 2px 0 10px 0;
    font-size: 1.5rem;
    color: #2e1900;
}

p {
    margin: 0;
}

.end-game .container{
    display: flex;
    align-items: center;
}


.time-to-beat {
    margin-top: 8px;
    display: none;
}

footer {
    margin: 390px 0 0;
}

.instruction-modal {
    background-color: #f0f8fff5;
    padding: 10px;
    top: 10px;
    border: 2px solid black;
    position: fixed;
    right: -120%;
    transition: right 0.3s ease;
}

.instruction-modal.show{
    right: 10px;
}


.instruction-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h3.instruction {
    margin: 10px 0 0 25px;
}